<div id="content-user-container" class="content-user-container">
  <div class="content-user-modal">
    <div class="content-user-content">
      <div class="create-page-header">
        <h1>Adicionando um novo escolaridade</h1>
        <i class="bi bi-x btn-close-modal"></i>
      </div>
      <div class="modal-body">
        <div class="inputs">
          <div class="form-group" [formGroup]="formSchooling">
            <select class="form-select" placeholder=" " formControlName="schoolingTypeId"
              [ngClass]="validationsFormService.applyCssErro(formSchooling, 'schoolingTypeId')">
              <option *ngFor="let schoolingType of schoolingTypeStatic.GetAll()" [value]="schoolingType.id">
                {{schoolingType.name}}
              </option>
            </select>
          </div>
        </div>
        <div class="footer-container">
          <button class="btn btn-orange" (click)="save()">Salvar</button>
        </div>
      </div>
    </div>
  </div>
</div>