<div class="container-fluid">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <div>
                <span>Menu</span>
            </div>
            <div class="menu">
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <mat-icon>assignment_ind</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item [routerLink]="['/']">
                        <mat-icon>assignment</mat-icon>
                        <span>Home</span>
                    </button>
                    <button mat-menu-item [routerLink]="['/users']">
                        <mat-icon>perm_identity</mat-icon>
                        <span>Usuários</span>
                    </button>
                </mat-menu>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
</div>
<router-outlet></router-outlet>