<div id="content-user-container" class="content-user-container">
  <div class="content-user-modal">
    <div class="content-user-content">
      <div class="create-page-header">
        <h1>Adicionando um histórico</h1>
        <i class="bi bi-x btn-close-modal"></i>
      </div>
      <div class="modal-body">
        <div class="form-group" [formGroup]="formSchoolRecord">
          <div class="inputs">
            <input type="text" formControlName="format" class="form-control"
              [ngClass]="validationsFormService.applyCssErro(formSchoolRecord, 'format')" placeholder="Formato" />
            <input type="text" formControlName="name" class="form-control"
              [ngClass]="validationsFormService.applyCssErro(formSchoolRecord, 'name')" placeholder="Nome" />
          </div>
        </div>
        <div class="footer-container">
          <button class="btn btn-orange" (click)="save()">Salvar</button>
        </div>
      </div>
    </div>
  </div>
</div>