/* You can add global styles to this file, and also import other style files */
mat-icon {
    cursor: pointer;
}

.form-control {
    &.invalid,
    .is-invalid {
        box-shadow: none !important;
        border-color: red;
    }

    &.is-invalid {
        box-shadow: none !important;
    }

    &:focus {
        box-shadow: none !important;
    }
}
