<div id="content-user-container" class="content-user-container">
  <div class="content-user-modal">
    <div class="content-user-content">
      <div class="create-page-header">
        <h1>Adicionando um novo usuário</h1>
        <i class="bi bi-x btn-close-modal"></i>
      </div>
      <div class="modal-body">
        <div class="form-group" [formGroup]="formUser">
          <div class="inputs">
            <input type="text" formControlName="firstName" class="form-control"
              [ngClass]="validationsFormService.applyCssErro(formUser, 'firstName')" placeholder="Nome" />
            <input type="text" formControlName="lastName" class="form-control"
              [ngClass]="validationsFormService.applyCssErro(formUser, 'lastName')" placeholder="Sobrenome" />
          </div>
          <div class="inputs">
            <input type="text" formControlName="email" class="form-control"
              [ngClass]="validationsFormService.applyCssErro(formUser, 'email')" placeholder="E-mail" />

            <input [matDatepicker]="basicDatepicker" formControlName="birthDate">
            <mat-datepicker-toggle [for]="basicDatepicker"></mat-datepicker-toggle>
            <mat-datepicker #basicDatepicker></mat-datepicker>
          </div>
          <div class="inputs">
            <input type="text" formControlName="adress" class="form-control"
              [ngClass]="validationsFormService.applyCssErro(formUser, 'adress')" placeholder="Rua" />
            <input type="text" formControlName="number" class="form-control"
              [ngClass]="validationsFormService.applyCssErro(formUser, 'number')" placeholder="Número" />
          </div>
          <div class="inputs">
            <input type="text" formControlName="city" class="form-control"
              [ngClass]="validationsFormService.applyCssErro(formUser, 'city')" placeholder="Cidade" />
            <input type="text" formControlName="uf" class="form-control"
              [ngClass]="validationsFormService.applyCssErro(formUser, 'uf')" placeholder="UF" />
          </div>
          <div class="inputs">
            <input type="text" formControlName="country" class="form-control"
              [ngClass]="validationsFormService.applyCssErro(formUser, 'country')" placeholder="Pais" />
            <input type="text" formControlName="zipCode" class="form-control"
              [ngClass]="validationsFormService.applyCssErro(formUser, 'zipCode')" placeholder="CEP" />
          </div>
        </div>
        <div class="footer-container">
          <div *ngFor="let erro of errors">
            <span class="erro">{{erro}}</span>
          </div>
          <button class="btn btn-orange" (click)="save()">Salvar</button>
        </div>
      </div>
    </div>
  </div>
</div>